/* Header.css */

/* 공통 */
header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width:100%;
}
header nav ul {
	display: flex;
	list-style-type: none;
}

/* logo */
header .logo {
	background-image: url('/src/assets/images/logo.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 32px;
	width: 120px;
	height: 32px;
}

/* 상단 */
.top-nav {
	background-color: var(--bg-lighter);
	height: 32px;
}
.top-nav li {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 15px;
}

/* datetime */
.datetime {
	margin: 0 -8px;
}
.datetime strong {
	margin: 0 8px;
}
.datetime span {
	margin: 0 2px;
}

/* 하단 */
.global-nav {
	justify-content: space-between;
	padding: 1rem;
	border-bottom: solid 1px #eee;
}
.global-nav li {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 18px;
	font-weight: 700;
}