/* reset.css */
@import url(../fonts/Pretendard/Pretendard.css);

:root {
	--white: hsl(220 0% 100% / 1);
	--black: hsl(220 100% 5% / 1);

	--bg-light: hsl(220 23% 92% / 1);
	--bg-lighter: hsl(220 22% 94.8% / 1);
	--bg-lightest: hsl(220 20% 97.2% / 1);

	--border-light: hsl(220 40% 84% / 1);
	--border-lighter: hsl(220 40% 88% / 1);
	--border-lightest: hsl(220 40% 92% / 1);

	--link: hsl(220 0% 20% / 1);
	--link-hover: hsl(220 100% 36% / 1);

	--text: hsl(220 0% 20% / 1);
	/* #333 */
	--text-light: hsl(220 0% 40% / 1);
}

/* 폰트패밀리 */
body {
	font-family: 'Pretendard', sans-serif;
	font-weight: 500;
	color: var(--text);
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
	text-decoration: underline;
}

/* 기본적인 박스 모델 통일 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 마진 제거 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

/* 폰트 상속 */
input,
button,
textarea,
select {
	font: inherit;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-input-placeholder {
	-webkit-text-fill-color: var(--link-hover);
}

/* 이미지 등 요소 너비 제한 */
img,
svg,
video {
	max-width: 100%;
	display: block;
}

/* 테이블 기본값 */
table {
	border-collapse: collapse;
	width: 100%;
}

/* list */
li {
	list-style-type: none;
}

/* 가림처리 */
.visually-hidden {
	position: absolute;
	top: -9999em;
	left: -9999em;
	text-indent: -9999em;
	opacity: 0;
	font-size: 0;
	line-height: 0;
}